extends layout

block content
  p=Txt
  h1 Trash
  p Next Trash Day #{Obj.trash.fromNow}.
  pre=Obj.trash.date
  h1 Recycling
  pre= Obj.recycling.isTrue
  p Next Recycling Day #{Obj.recycling.fromNow}.
  pre=Obj.recycling.date
  h1 Pay Victor
  p= Obj.payVictor
  h1 Holiday
  pre= Obj.holiday
block append scripts
  script(src="main.js")